services:

#nginx container
  nginx-gateway:
    build: ./api-gateway
    container_name: nginx-gateway
    ports:
      - "8089:8089"
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - genre-service
    networks:
    - bookfair-network

# user service
  user-service:
    build: ./user-service
    container_name: user-service
    env_file:
      - ./user-service/.env     
    ports:
      - "8084:8084"
    networks:
      - bookfair-network

# stall service
  stall-service:
    build: ./stall-service
    container_name: stall-service
    ports:
      - "8083:8083"
    env_file:
    - ./stall-service/.env
    environment:
      RABBITMQ_HOST: rabbitmq-stall
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: guest
      RABBITMQ_PASSWORD: guest
      RABBITMQ_QUEUE: stall_queue
    networks:
      - bookfair-network

  #genre service
  genre-service:
    build: ./genre-service
    container_name: genre-service
    ports:
      - "8082:8082"
    env_file:
      - ./genre-service/.env     
    networks:
      - bookfair-network

 # Email service rabbitmq
  rabbitmq-email:
    image: rabbitmq:3.12-management-alpine
    container_name: rabbitmq-email
    ports:
      - "5674:5672"  # different port mapping
      - "15674:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_email_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      - bookfair-network

  # email service
  email-service:
    build: ./email-service
    container_name: email-service
    depends_on:
      rabbitmq-email:
        condition: service_healthy
    ports:
      - "8081:8081"
    environment:
      EMAIL_SERVER_PORT: 8081
      SPRING_RABBITMQ_HOST: rabbitmq-email
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
      EMAIL_QUEUE_NAME: email_queue

    volumes:
      - ~/.m2:/root/.m2 

    networks:
      - bookfair-network 
  
  # pgadmin
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: bookfair-stall-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@bookfair.com
      PGADMIN_DEFAULT_PASSWORD: admin123
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - bookfair-network
  
# reservation-service
  reservation-service:
    build: ./reservation-service
    container_name: reservation-service
    ports:
    - "5003:5003"
    env_file:
      - ./reservation-service/complete/.env
    networks:
    - bookfair-network

  # Volumes
volumes:
  rabbitmq_stall_data:
    driver: local
  pgadmin_data:
    driver: local
  rabbitmq_email_data: {}
    
networks:
  bookfair-network:
    driver: bridge




