services:

  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  email-service:
    build: ./email-service
    container_name: email-service
    depends_on:
      - rabbitmq
    ports:
      - "8081:8081"
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
      EMAIL_QUEUE_NAME: email_queue
    volumes:
      - ~/.m2:/root/.m2   

      
  user-db:
    image: postgres:15
    container_name: user-db
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    networks:
      - user-network

  user-service:
    image: user-service
    container_name: user-service
    environment:
      URL: jdbc:postgresql://user-db:5432/userdb
      USERNAME: postgres
      PASSWORD: postgres
    ports:
      - "8084:8084"
    depends_on:
      - user-db
    networks:
      - user-network




