services:

#nginx container
  nginx-gateway:
    build: ./api-gateway
    container_name: nginx-gateway
    ports:
      - "8080:80"
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - email-service
      - genre-service
      - stall-service
      - user-service
      - reservation-service
    
    networks:
    - bookfair-network

# user servive database   
  user-db:
    image: postgres:15-alpine
    container_name: user-db
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"  # avoid conflicts
    volumes:
      - userdb_data:/var/lib/postgresql/data
    networks:
      - bookfair-network

# user service

  user-service:
    build: ./user-service
    container_name: user-service
    environment:
      URL: jdbc:postgresql://user-db:5432/userdb
      USERNAME: postgres
      PASSWORD: postgres
    ports:
      - "8084:8084"
    depends_on:
      - user-db
    networks:
      - bookfair-network

# stall-db
  stall-db:
    image: postgres:15-alpine
    container_name: stall-db
    environment:
      POSTGRES_DB: bookfair_stalls
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      PGDATA: /var/lib/postgresql/data/pgdatavd code
    ports:
      - "5434:5432" 
    volumes:
      - stalldb_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - bookfair-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

# rabbitmq
  rabbitmq-stall:
    image: rabbitmq:3.12-management-alpine
    container_name: rabbitmq-stall
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5673:5672"  
      - "15673:15672"
    volumes:
      - rabbitmq_stall_data:/var/lib/rabbitmq
    networks:
      - bookfair-network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 10s
      retries: 5

# stall service

  stall-service:
    build: ./stall-service
    container_name: stall-service
    depends_on:
      - stall-db
      - rabbitmq-stall
    ports:
      - "8083:8083"
    env_file:
    - ./stall-service/.env
    
    environment:
      DATABASE_URL: jdbc:postgresql://stall-db:5432/bookfair_stalls
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      RABBITMQ_HOST: rabbitmq-stall
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: guest
      RABBITMQ_PASSWORD: guest
      RABBITMQ_QUEUE: stall_queue
    
    

    networks:
      - bookfair-network

    #genre service
  genre-service:
    build: ./genre-service
    container_name: genre-service
    ports:
      - "8082:8082"
    env_file:
      - ./genre-service/.env     
    networks:
      - bookfair-network

 # Email service rabbitmq

  rabbitmq-email:
    image: rabbitmq:3.12-management-alpine
    container_name: rabbitmq-email
    ports:
      - "5674:5672"  # different port mapping
      - "15674:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_email_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      - bookfair-network

  # email service

  email-service:
    build: ./email-service
    container_name: email-service
    depends_on:
      rabbitmq-email:
        condition: service_healthy
    ports:
      - "8081:8081"
    environment:
      EMAIL_SERVER_PORT: 8081
      SPRING_RABBITMQ_HOST: rabbitmq-email
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
      EMAIL_QUEUE_NAME: email_queue

    volumes:
      - ~/.m2:/root/.m2 

    networks:
      - bookfair-network 
  
  # pgadmin
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: bookfair-stall-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@bookfair.com
      PGADMIN_DEFAULT_PASSWORD: admin123
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - bookfair-network
    depends_on:
      - user-db
      - stall-db

#Reservation-db 
  reservation-db:
    image: mongo:7.0
    container_name: reservation-db
    ports:
      - "27018:27017"
    
    volumes:
      - reservationdb_data:/data/db
    
    networks:
      - bookfair-network
    
# rabbitmq-reservation

  rabbitmq-reservation:
    image: rabbitmq:3.12-management-alpine
    container_name: rabbitmq-reservation
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
    - "5675:5672"
    - "15675:15672"

    networks:
    - bookfair-network

# reservation-service

  reservation-service:
    build: ./reservation-service
    container_name: reservation-service
    ports:
    - "5003:5003"
    depends_on:
    - reservation-db
    - rabbitmq-reservation
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://reservation-db:27017/reservation-service
      SPRING_RABBITMQ_HOST: rabbitmq-reservation
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
      QRCODE_FOLDER: /app/qrcodes
    
    networks:
    - bookfair-network


  # Volumes
volumes:
  stalldb_data:
    driver: local
  rabbitmq_stall_data:
    driver: local
  pgadmin_data:
    driver: local
  rabbitmq_email_data: {}
  userdb_data: {}
  reservationdb_data:
    driver: local
    

networks:
  bookfair-network:
    driver: bridge

  





